name: android
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: ./gradlew assemble
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BEATPORT_CLIENT_ID: ${{ secrets.BEATPORT_CLIENT_ID }}
          BEATPORT_REDIRECT_URI: ${{ secrets.BEATPORT_REDIRECT_URI }}
          SOUNDCLOUD_CLIENT_ID: ${{ secrets.SOUNDCLOUD_CLIENT_ID }}
          SOUNDCLOUD_CLIENT_SECRET: ${{ secrets.SOUNDCLOUD_CLIENT_SECRET }}
          SOUNDCLOUD_REDIRECT_URI: ${{ secrets.SOUNDCLOUD_REDIRECT_URI }}
          TIDAL_CLIENT_ID: ${{ secrets.TIDAL_CLIENT_ID }}
          TIDAL_CLIENT_SECRET: ${{ secrets.TIDAL_CLIENT_SECRET }}
      - uses: actions/upload-artifact@v4
        with:
          name: soundcrowd.apk
          path: |
            app/build/outputs/apk/debug/app-debug.apk
            app/build/outputs/apk/release/app-release-unsigned.apk
